<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thememeteam.yummycrummyapp" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.thememeteam.yummycrummyapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thememeteam.yummycrummyapp.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="com.thememeteam.yummycrummyapp.LoginActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thememeteam.yummycrummyapp.CreateNewProfileScreen"
            android:label="@string/title_activity_create_new_profile_screen" >
            <intent-filter>
                <action android:name="com.thememeteam.yummycrummyapp.CreateNewAccountActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thememeteam.yummycrummyapp.TestDB"
            android:label="@string/title_activity_test_db" >
            <intent-filter>
                <action android:name="com.thememeteam.yummycrummyapp.TestDB" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thememeteam.yummycrummyapp.HomeScreen"
            android:label="@string/title_activity_home_screen" >
        </activity>
        <activity
            android:name="com.thememeteam.yummycrummyapp.AddProfileScreen"
            android:label="@string/title_activity_add_profile_screen" >
        </activity>
        <activity
            android:name="com.thememeteam.yummycrummyapp.ViewEditProfileScreen"
            android:label="@string/title_activity_view_edit_profile_screen" >
        </activity>
        <activity
            android:name="com.thememeteam.yummycrummyapp.ViewEditProfileScreen2"
            android:label="@string/title_activity_view_edit_profile_screen2" >
        </activity>
        <activity
            android:name="com.thememeteam.yummycrummyapp.ViewRestaurantRatingScreen"
            android:label="@string/title_activity_view_restaurant_rating_screen" >
        </activity>
        <activity
            android:name="com.thememeteam.yummycrummyapp.LookUpRestaurantScreen"
            android:label="@string/title_activity_look_up_restaurant_screen" >
        </activity>

    </application>

</manifest>
